.sliderContainer {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin-bottom: 2rem;
}

.swiperBtnsContainer {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  .iconBtn {
    font-size: 3rem;
    margin: 0 1rem;
    color: #6200ee;
    cursor: pointer;
    &:hover {
      color: lighten(#6200ee, 10);
    }
  }
}
