.container {
  // width: 70vw;
  margin: auto;
  padding-top: 200px;
  min-height: 100%;
  background-color: #fafafa;
  overflow: hidden;
  transition: all 0.5s;
}
@media screen and (max-width: 550px) {
  .container {
    padding-top: 100px;
  }
}
.leftImage {
  height: 250px;
  width: 250px;
  background-color: rgb(201, 181, 181);
  position: absolute;
  left: -webkit-calc(50% - 400px);
  left: -moz-calc(50% - 400px);
  left: calc(50% - 400px);
  top: 50px;
  z-index: 1;
  transition: all 1;
}

.centerImage {
  height: 400px;
  width: 400px;
  position: absolute;
  background-color: white;
  left: -webkit-calc(50% - 200px);
  left: -moz-calc(50% - 200px);
  left: calc(50% - 200px);
  z-index: 5;
  transition: all 1s;

  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%), 0 0 15px 0 rgb(0 0 0 / 2%),
    0 0 20px 4px rgb(0 0 0 / 6%);
}

//   right: calc(50%-200px);

.rightImage {
  height: 250px;
  position: absolute;
  width: 250px;
  left: -webkit-calc(50% + 150px);
  left: -moz-calc(50% + 150px);
  left: calc(50% + 150px);
  top: 50px;
  z-index: 1;
  background-color: rgb(201, 181, 181);
  transition: all 1s;
}

.leftVoidImage {
  height: 250px;
  width: 250px;
  background-color: rgb(126, 81, 81);
  position: absolute;
  left: -webkit-calc(50% - 500px);
  left: -moz-calc(50% - 500px);
  left: calc(50% - 500px);
  top: 50px;
  z-index: -1;
  display: none;
  transition: all 1;
  opacity: 0;
}

.rightVoidImage {
  height: 250px;
  position: absolute;
  width: 250px;
  left: -webkit-calc(50% + 150px);
  left: -moz-calc(50% + 150px);
  left: calc(50% + 250px);
  top: 50px;
  z-index: -1;
  display: none;
  background-color: rgb(104, 77, 77);
  transition: all 1s;
}
